.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 1;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    transition: all 3s ease;
    transform: rotateZ(30deg);
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10px;
}

@media (max-width: 1030px) {
  .logo-container {
    width: 300px;
    top: 100px;
  }
}

@media (max-width: 905px) {
  .logo-container {
    width: 200px;
    top: 200px;
  }
}

@media (max-width: 450px) {
  .logo-container {
    width: 150px;
    top: 250px;
  }
}
