#svg-container {
  display: none;
  background-color: inherit;
}

#myCanvas {
  position: absolute;
  top: 7%;
  width: 50%;
  height: 105%;
  margin-left: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
